<div class="main-container">
  <div class="top-bar">
    <div class="title">{{ activatedRoute.snapshot.data.title }}</div>
    <div *ngIf="!isViewMode" class="buttons">
      <button class="btn btn-save" *ngIf="diagram._id" routerLink="/diagram/{{ diagram._id }}">Viewer</button>
      <button class="btn btn-save" [disabled]="!diagram.shapes.length" (click)="save()">{{ diagram._id ? 'Edit' : 'Save' }}</button>
      <button class="btn btn-publish" [disabled]="!diagram.shapes.length || !diagram._id" (click)="publish()">{{ diagram.published ? 'Unpublished' : 'Published' }}</button>
    </div>
  </div>
  <div class="page-container">
    <router-outlet></router-outlet>
  </div>
</div>
